.hero {
    background-image: url(../img/headerBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Nav layout */
nav {
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 3%;
    padding-bottom: 5%;
}
.navbtn {
    color:white !important;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    letter-spacing: 1.2px;
    font-weight: 600;
}
svg {
    filter: invert(100%);
}
h1 {
    color: white !important;
}
.title {
    font-family: "Montserrat";
    font-weight: 700 !important;
    letter-spacing: 1.5px;
    font-size: 45px !important;
}
.subtitle {
    font-family: "Roboto" !important;
    font-weight: 100 !important;
}